In [29]:
import numpy as np
import pandas as pd
data = pd.read_csv('input.txt',names='A')

In [30]:
data.head()

         A
0  1000000
1        5
2        8
3        6
4        3

In [39]:
lst =data['A'].tolist();
health=2000;injuries=1;max_injuries=1000000;
max_monkey=0;

In [52]:
for i in range(1,max_injuries+1):
    for j in range(i,max_injuries+1):
        health-=lst[j];
        injuries*=lst[j];
        if health > 0:
            if injuries < max_injuries:
                continue;
        else:
            health=2000;
            injuries=1;
            break;
    if health !=2000 & max_monkey<i:
        max_monkey=i;
        break;
print max_monkey

1857

In [53]:
print ("maximum no of monkeys that can be defeated are : {}".format(max_monkey));

maximum no of monkeys that can be defeated are : 1857

In [ ]:
|